
h1 h2 h3 h4 h5 h6 h7{
  display:flex;
  align-itmes:center;
}
body{
  background-image: linear-gradient(to right, #6D4AFF,#111827);
  font-family: Arvo, monospace;
  font-size: 14px;
  color: white;
}
a{
    color: white;
    text-decoration: none;
}
.bar{
  background-image: linear-gradient(to left, #6D4AFF,#111827);
  font-family: Inter, sans-serif;
  border-radius:15px;
  border-color:#11182799;
  display:flex;
  height:30px;
}
#logo{
  background-color:111827FF;
}
.barButton{
  margin:10px;
}
p{
  margin: 5px;
  color: #FFFFF0;
